body {
  background-color:#3edbf0;;
}

h3
{
color: green;
}

h1
{
color: #66BFBF;
}


hr {
  border-width: 2px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  height: 0px;
  width: 5%;
}

img {
height: 200px;
}
